<ion-header>
  <ion-toolbar class="toolbar-editar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="guardar()" class="form-card" *ngIf="!cargando; else cargandoTpl">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="form.nombre" name="nombre" placeholder="Nombre completo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="form.email" name="email" type="email" placeholder="correo@dominio.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input [(ngModel)]="form.username" name="username" placeholder="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Empresa asociada (opcional)</ion-label>
      <ion-select [(ngModel)]="form.empresaAsociada" name="empresaAsociada" interface="popover" placeholder="Seleccionar empresa">
        <ion-select-option [value]="''">Ninguna</ion-select-option>
        <ion-select-option *ngFor="let e of empresas" [value]="e.id">
          {{ e.razonSocial || e.ruc || e.id }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="loading" *ngIf="cargandoEmpresas">Cargando empresas...</div>

    <div class="acciones">
      <ion-button expand="block" type="submit" [disabled]="guardando" color="primary">
        <ion-spinner *ngIf="guardando" name="crescent" slot="start"></ion-spinner>
        Guardar cambios
      </ion-button>
    </div>
  </form>

  <ng-template #cargandoTpl>
    <div class="loading">Cargando datos del cliente...</div>
  </ng-template>
</ion-content>
