.toolbar-editar {
  --background: #04364A;
  --color: #EAF2F8;
}

.form-card {
  margin: 12px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #D6EAF8;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(7, 64, 97, 0.08);
}

ion-item {
  --background: #F5FBFF;
  border-radius: 10px;
  margin-bottom: 10px;
}
ion-item ion-label {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #004c63 !important;
}
ion-item ion-label::part(text) {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #004c63 !important;
}
ion-item ion-input {
  --color: #262626;  
  --placeholder-color: #9ea3a6; 
  --highlight-color: transparent;
}

ion-item ion-input::part(native) {
  color: #262626 !important;
}

.form-card ion-select {
  --color: #262626 !important; 
  --placeholder-color: #9EA3A6 !important; 
}

.acciones {
  margin-top: 16px;
}

ion-button[color="primary"] {
  --background: #004c63;
  --background-activated: #004c63;
  --background-focused: #004c63;
  --color: #ffffff;
  border-radius: 10px;
}

.loading { text-align: center; color: #5A7D95; padding: 24px; }

