.fondo-activity {
    --background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-login {
    background: #F6F6F6;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

// Títulos y logo
.logo {
    height: 150px;
    margin: 20px auto;
}

.titulo-app {
    font-family: "Kameron", serif;
    font-size: 2rem;
    font-weight: bold;
    color: #044C63;
    margin: 0;
}

.subtitulo-app {
    font-size: 16px;
    color: #044C63;
    margin: 0 1rem;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #044C63;
}

// ion-item e ion-input personalizados
.campo-login {
    --background: transparent;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-start: 0;
    --highlight-color-focused: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 18px;
}
.campo-login ion-label {
    color: #044C63;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

// Input
.input-login {
  --background: transparent;
  --color: #333;
  --placeholder-color: #999;
  font-size: 1rem;
  width: 100%;
  padding: 0 10px !important;
  border: 1px solid #BFBFBF !important;
  border-radius: 8px;
  background: transparent;
  outline: none;
  box-sizing: border-box;
}
.input-login input:focus {
  border: 1px solid #9b9b9b !important;
  outline: none;
}

// Botón
.btn-login {
    --background: #4CAF50;
    --color: #FFFFFF;
    --border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    text-transform: none;
}
.btn-login:hover {
    --background: #419e44;
}

// Enlace
.link-recuperar {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #1e5f74;
    text-decoration: none;
}
.link-recuperar:hover {
    text-decoration: underline;
}

// Texto de campo inválido
.error-text {
  color: #e63946;
  font-size: 0.9rem;
  margin: 0;
}
