<ion-content [fullscreen]="true" class="fondo-activity">
  <div class="contenedor-login">
    <h1 class="titulo-app">INCOANCA</h1>
    <p class="subtitulo-app">Ingeniería y Consultoría</p>

    <img src="assets/img/logo.png" alt="Logo" class="logo" />

    <h2>Iniciar Sesión</h2>

    <!-- Campo usuario -->
    <ion-item class="campo-login" lines="none">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input
        type="text"
        placeholder="Ingrese su usuario"
        class="input-login"
        [(ngModel)]="usuario"
        aria-label="Campo de usuario"
      ></ion-input>
    </ion-item>
    <p *ngIf="errorUsuario" class="error-text" aria-live="assertive">
      {{ errorUsuario }}
    </p>

    <!-- Campo contraseña -->
    <ion-item class="campo-login" lines="none">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input
        type="password"
        placeholder="Ingrese su contraseña"
        class="input-login"
        [(ngModel)]="contrasena"
        aria-label="Campo de contraseña"
      ></ion-input>
    </ion-item>
    <p *ngIf="errorContrasena" class="error-text" aria-live="assertive">
      {{ errorContrasena }}
    </p>

    <!-- Botón -->
    <ion-button expand="block" class="btn-login" (click)="login()"
      >Ingresar</ion-button
    >

    <!-- Enlace -->
    <a href="#" class="link-recuperar">¿Olvidaste tu contraseña?</a>
  </div>
</ion-content>
