<!-- Toolbar -->
<ion-header>
  <ion-toolbar class="toolbar-home">
    <!-- logo -->
    <ion-buttons slot="start">
      <img src="assets/img/logo.png" alt="Logo" class="logo-toolbar" />
    </ion-buttons>

    <!-- nombre de usuario -->
    <ion-title class="titulo-usuario">
      {{ primerNombre }}
    </ion-title>

    <!-- botón de perfil -->
    <ion-buttons slot="end">
      <ion-button (click)="abrirPerfil()">
        <ion-icon src="assets/icons/user-circle.svg" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content class="ion-padding">
  <!-- Empleado: búsqueda, accesos y acciones -->
  <ng-container *ngIf="isEmpleado">
    <div class="buscador">
      <div class="buscador-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
      </div>
      <ion-input class="buscador-campo" [(ngModel)]="buscar" placeholder="Buscar un proyecto"></ion-input>
    </div>

    <div class="accesos-rapidos">
      <ion-button fill="clear" class="tile">
        <div class="tile-content">
          <ion-icon src="assets/icons/file-description.svg"></ion-icon>
          <span>Documentos</span>
        </div>
      </ion-button>
      <ion-button fill="clear" class="tile">
        <div class="tile-content">
          <ion-icon src="assets/icons/message.svg"></ion-icon>
          <span>Observaciones</span>
        </div>
      </ion-button>
      <ion-button fill="clear" class="tile"><div class="tile-content"><ion-icon src="assets/icons/chart-bar-popular.svg"></ion-icon>
        <span>Reportes</span></div></ion-button>
      <ion-button fill="clear" class="tile" routerLink="/clientes"><div class="tile-content"><ion-icon src="assets/icons/users.svg"></ion-icon>
        <span>Clientes</span></div></ion-button>
    </div>

    <ion-button expand="block" class="btn-nuevo-proyecto">
      <ion-icon slot="start" src="assets/icons/plus.svg"></ion-icon>
      Agregar un nuevo proyecto
    </ion-button>

    <ion-segment [(ngModel)]="segment" class="seg-proyectos">
      <ion-segment-button value="activos">Proyectos Activos</ion-segment-button>
      <ion-segment-button value="terminados">Proyectos Terminados</ion-segment-button>
    </ion-segment>

    <div class="lista-titulo">Lista de proyectos {{ segment }}</div>

    <ng-container *ngIf="segment === 'activos'">
      <div class="lista-proyectos">
        <div class="card-proyecto" *ngFor="let p of activos">
          <div class="card-header">
            <div class="titulo">{{ p.titulo }}</div>
            <div class="estado">{{ p.estado }}</div>
          </div>
          <div class="progreso">
            <ion-progress-bar [value]="p.progreso"></ion-progress-bar>
            <span>{{ (p.progreso * 100) | number:'1.0-0' }}%</span>
          </div>
          <div class="acciones">
            <div class="obs">Observaciones: <b>{{ p.obs }}</b></div>
            <ion-button fill="clear" class="btn-ver-link">VER PROYECTO</ion-button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="segment === 'terminados'">
      <div class="lista-proyectos">
        <div class="card-proyecto" *ngFor="let p of terminados">
          <div class="card-row">
            <div class="card-main">
              <div class="titulo">{{ p.titulo }}</div>
              <div class="estado estado-fin">{{ p.estado }}</div>
            </div>
            <ion-button class="btn-ver" fill="solid">Ver Proyecto</ion-button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- Cliente: encabezado y segmentación distinta -->
  <ng-container *ngIf="isCliente">
    <div class="titulo-cliente">Proyectos Contratados</div>

    <div class="accesos-rapidos">
      <ion-button fill="clear" class="tile"><div class="tile-content"><ion-icon src="assets/icons/file-description.svg"></ion-icon>
        <span>Documentos</span></div></ion-button>
      <ion-button fill="clear" class="tile"><div class="tile-content"><ion-icon src="assets/icons/message.svg"></ion-icon>
        <span>Observaciones</span></div></ion-button>
      <ion-button fill="clear" class="tile"><div class="tile-content"><ion-icon src="assets/icons/chart-bar-popular.svg"></ion-icon>
        <span>Reportes</span></div></ion-button>
    </div>

    <ion-segment [(ngModel)]="segment" class="seg-proyectos">
      <ion-segment-button value="activos">Activos</ion-segment-button>
      <ion-segment-button value="terminados">Terminados</ion-segment-button>
    </ion-segment>

    <div class="lista-titulo">Lista de proyectos {{ segment }}</div>

    <ng-container *ngIf="segment === 'activos'">
      <div class="lista-proyectos">
        <div class="card-proyecto" *ngFor="let p of activos">
          <div class="card-header">
            <div class="titulo">{{ p.titulo }}</div>
            <div class="estado">{{ p.estado }}</div>
          </div>
          <div class="progreso">
            <ion-progress-bar [value]="p.progreso"></ion-progress-bar>
            <span>{{ (p.progreso * 100) | number:'1.0-0' }}%</span>
          </div>
          <div class="acciones">
            <div class="obs">Observaciones: <b>{{ p.obs }}</b></div>
            <ion-button fill="clear" class="btn-ver-link">VER PROYECTO</ion-button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="segment === 'terminados'">
      <div class="lista-proyectos">
        <div class="card-proyecto" *ngFor="let p of terminados">
          <div class="card-row">
            <div class="card-main">
              <div class="titulo">{{ p.titulo }}</div>
              <div class="estado estado-fin">{{ p.estado }}</div>
            </div>
            <ion-button class="btn-ver" fill="solid">Ver Proyecto</ion-button>
          </div>
        </div>
      </div>
    </ng-container>
</ng-container>
</ion-content>
